.navbar-brand > img {
  width: 275px;
  position: relative;
  top: -40px;
  z-index: 1000;
}


@media screen and (max-width: 400px){
  .navbar-brand > img {
    width: 200px;
    position: relative;
    top: -25px;
    left: 35px;
  }

  .rsvp-widget {
    float: none;
  }

  .rsvp-widget ul {
    list-style-type: none;
  }
}