.navbar-brand > img {
  width: 265px;
  position: relative;
  top: -40px;
  z-index: 1000;
}


@media screen and (max-width: 400px){
  .navbar-brand > img {
    width: 170px !important;
    position: relative;
    top: -18px;
    left: 120px;
  }

  .rsvp-widget {
    float: none;
  }

  .rsvp-widget ul {
    list-style-type: none;
  }
}