        <div ng-include="'/assets/templates/common/map.html'"></div>
        <div class="container">
          <div class="col-md-12">
            <h1>Access</h1>
          </div>
          <div class="col-md-6">
            <h5>Location</h5>
            <p>Tokyo Hackerspace is conveniently located near Naka-itabashi which is a 15 minute train ride on the Tobu Tojo Line from Ikebukuro Station.</p>
              
            <p>Our address is:
              〒173-0021 Tōkyō-to, Itabashi-ku, Yayoichō, 40−7</p>
            <p>In Japanese: 〒173-0021東京都板橋区弥生町40-7</p>
            <br>
            <h5>Directions</h5>
            <ol>
              <li>From Ikebukuro, take Tobu Tojo local line to Naka-Itabashi station. Typically leaving from Track 4.</li>
              <li>At Naka-Itabashi Station, please use the SOUTH exit.</li>
              <li>Turn RIGHT at the street in front of the bicycle park.</li>
              <li>At ”Boo ちゃん　らーめん” turn RIGHT</li>
              <li>Now you have a choice!<br><br>
                <ul>
                  <li>Follow this street all the way to the river. There is a bridge in front of you crossing a river. Do not cross the river.  Instead turn LEFT. We are the 4th building (the one on the corner)</li>
                  <li>Or, Follow this street until the 3rd LEFT. Turn here. At the next cross street, turn right. Follow it to the river. We are right on the corner, on the right side.</li>
                </ul>
              </li>
            </ol>  
          </div>
          <div class="col-md-6">
            <h5>Walking Route</h5>
          </div>
        </div>
        
        <br>&nbsp;
        <br>&nbsp;