    <div class="invert-bg-light regular-blog-wrap category-cardview">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-8">
                    <div class="row row-10">

                        <!-- Category Information
                        ============================================= -->
                        <div class="col-sm-12">
                            <!-- Heading
                            ============================================= -->
                            <div class="section-heading">
                              <h2 class="mh">Host an event at Tokyo Hackerspace!</h2>
                            </div>
                    
                            <!-- Description
                            ============================================= -->
                            <div class="single-entry-content">
                              This is the page with information on hosting events!
                              <hr>
                            </div>
                        </div>
                    </div>
                </div>

                
                <!-- sidebar starts here -->
                <div class="col-lg-3 col-md-3 col-sm-4 fix-top-mobile">
                  
                    <!-- Widget Advertisement
                    ============================================= -->
                    <aside class="widget widget-advert wow jello">
                        <div class="widget-title-wrap">
                            <span class="widget-title">Advertisement</span><!-- widget-title -->
                        </div><!-- widget-title-wrap -->
                        <a href="#"><img width="250" height="250" src="http://placehold.it/250x250/cecece?text=Ad+(250x250)" class="img-responsive" alt=""></a>
                    </aside><!-- widget -->

                    <aside class="widget widget-feedburner wow slideInRight">
                        <div class="widget-title-wrap">
                            <span class="widget-title">Subscribe Email</span><!-- widget-title -->
                        </div><!-- widget-title-wrap -->
                        <p>We will not sell, trade, share or rent your email address.</p>
                        <form>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Email Address"><!-- form-control -->
                            </div><!-- form-group -->
                            <button class="btn btn-light-brown"><i class="fa fa-send"></i> Subscribe</button><!-- btn-light-brown -->
                        </form>
                    </aside><!-- widget -->
                </div>
            </div>
        </div>
    </div>
