        &nbsp;<br>&nbsp;
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <p>Tokyo Hackerspace is a collective of like minded people from around the world who have come together to share our knowledge with each other.  This is accomplished by attending events, holding classes and working on projects together.  Our members come from all walks of life. Whether you're single, or married, artist, or software enginer, if you're a native of Japan or an expat from a land far away you will be welcomed at Tokyo Hackerspace.</p>

              <p>If you are interested in learning more about what Tokyo Hackerspace has to offer you can start by following <a href="https://twitter.com/tkohackerspace" target="_blank">@tkohackerspace</a> on Twitter, joining the Facebook  <a href="https://www.facebook.com/groups/86614272223/" target="_blank">TokyoHackerSpace Group</a>, and joining the <a href="https://groups.google.com/forum/#!forum/tokyohackerspace" target="_blank">TokyoHackerSpace Google Group</a>.</p>
            </div>
          </div>
        </div>
        <div ng-include="'/assets/templates/common/home_events.html'"></div>