    <div class="regular-blog-wrap">
        <div class="container" id="scrollspy-bars">
            <div class="row">
                <div class="col-lg-9 col-sm-8">
                  <h1>Membership</h1>

                    <!-- Post Content
                    ============================================= -->
                    <div class="entry-content single-entry-content">
                        <p>A hackerspace (often also referred to as a hacklab, makerspace or hackspace) is a community-operated, often "Not For Profit" (501c3), workspace where people with common interests, often in computers, machining, technology, science, digital art or electronic art, can meet, socialize and collaborate.</p>
                        <div id="attachment_1504" style="width: 847px" class="wp-caption aligncenter">
                            <img class="wp-image-1504 size-full" src="http://placehold.it/870x490/cecece?text=Post+Image+will+be+here" width="870" height="490" alt="">
                            <p class="wp-caption-text">Image by PlaceHold.it</p>
                        </div>
                        <!-- blockquote class="bq-style-2">
                            <p>Nunc sodales velit tellus maximus, varius mauris molestie. In ut neque consectetur, rutru id, hendrerit turpis.</p>
                            <footer>Person Name Here</footer>
                        </blockquote -->
                        <p>Tokyo Hackerspace is the only Tokyo based workspace that is not for profit with an open membership. The only requirements to become a member of Tokyo Hackerspace are that you are 18 years of age or older, and that you have come to our open meetings 2-3 times to get to know us, and so that we can get to know you.</p>
                        
                        <h6>Membership Tiers</h6>
                        <ul>
                          <li>Full membership which is ¥5000/month gives you full access to the hackerspace 24hrs a day, though we ask you to work quietly past 8pm.  Full access to all the tools that are on the premises, and discounts on classes and events that are held at the hackerspace.</li>
                          <li>The second membership are student memberships.  You get the same benefits as full members, but at student discounted price of ¥2500/month. Please be prepared to show proof of your student status.</li>
                        </ul>
                        
                        <p>For more information <a href="/#/en/access"</a>come visit us</a> on either of our weekly meetings Tuesday or Wednesday evening at 7:30pm and talk to one of the members about membership.</p>

                        
                        <!-- p>Vivamus id risus commodo, vestibulum lectus a, venenatis ante. Nulla in metus at tortor feugiat dignissim. Praesent iaculis dictum lorem, laoreet semper felis finibus quis. Interdum et malesuada fames ac ante ipsum primis in faucibus. <a href="#"><strong>Curabitur aliquam</strong></a> iaculis urna scelerisque ullamcorper. Duis semper risus erat, quis commodo augue fermentum at. Etiam molestie nulla vehicula metus imperdiet rhoncus.</p>
                        <p>Phasellus luctus mattis volutpat. Sed id urna tempus, tristique est tincidunt, viverra metus. In nisl nunc, scelerisque condimentum finibus eget, mollis in nisi. Sed ullamcorper ullamcorper massa id interdum. Phasellus a lorem ut nisi mollis tincidunt pharetra ut lacus. Nunc odio mi, iaculis in accumsan ac, finibus semper dolor. Sed eu efficitur ex, vitae semper tellus. Nam id metus est. Aenean sed vehicula orci. Vestibulum ornare tellus consectetur, semper nisi quis, sagittis ipsum. Praesent imperdiet, ligula sit amet condimentum fermentum, diam lectus luctus felis, nec mollis tellus nibh eu nisl. Nullam elementum neque et est porttitor elementum. Suspendisse et laoreet elit, id placerat lorem. In eget libero semper, imperdiet ante vel, vestibulum felis.</p>
                        <p>Ut mollis dapibus congue. Nullam quis rhoncus orci. Curabitur vitae nunc eu turpis sodales viverra eget id dui. Nunc fermentum nulla sit amet tempus iaculis. Fusce sed faucibus sapien, sed lobortis ipsum. Mauris mollis eros eget neque imperdiet, nec rhoncus sem mollis. Aliquam erat volutpat. Cras quis viverra ligula, non cursus metus. Phasellus fringilla erat nisl, sed euismod ex imperdiet at. Nulla et bibendum leo. Curabitur fringilla felis nisi, in pretium ante gravida nec. Mauris nec fermentum urna. In hac habitasse platea dictumst. Nullam aliquet tincidunt aliquam. Praesent fermentum risus et euismod interdum.</p -->
                    </div>
                </div>
                
                <!-- Sidebar
                ============================================= -->
                <div class="col-lg-3 col-sm-4 fix-top-mobile">
                  <h1>&nbsp;</h1>
                    <!-- Widget Advertisement
                    ============================================= -->
                    <aside class="widget widget-advert wow jello">
                        <div class="widget-title-wrap">
                            <span class="widget-title">Advertisement</span><!-- widget-title -->
                        </div><!-- widget-title-wrap -->
                        <a href="#"><img width="250" height="250" src="http://placehold.it/250x250/cecece?text=Ad+(250x250)" class="img-responsive" alt=""></a>
                    </aside><!-- widget -->

                    <aside class="widget widget-feedburner wow slideInRight">
                        <div class="widget-title-wrap">
                            <span class="widget-title">Subscribe Email</span><!-- widget-title -->
                        </div><!-- widget-title-wrap -->
                        <p>We will not sell, trade, share or rent your email address.</p>
                        <form>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Email Address"><!-- form-control -->
                            </div><!-- form-group -->
                            <button class="btn btn-light-brown"><i class="fa fa-send"></i> Subscribe</button><!-- btn-light-brown -->
                        </form>
                    </aside><!-- widget -->

                    <aside class="widget widget-popular-posts">
                        <div class="widget-title-wrap">
                            <a href="#" class="pull-right more-link">See More <i class="fa fa-long-arrow-right"></i></a><!-- more-link -->
                            <h6 class="widget-title">Popular Post</h6><!-- widget-title -->
                        </div><!-- widget-title-wrap -->
                        <ul class="list-unstyled">
                            <li>
                                <!-- Small Post
                                ============================================= -->
                                <div class="small-post">
                                    <div class="img-wrap"><img src="http://placehold.it/215x151" width="215" height="151" class="img-responsive" alt=""></div><!-- img-wrap -->
                                    <div class="post-info">
                                        <h2 class="post-title"><a href="#">Mauris sagitis ongue ipsum, finibus urna tiunt sagitti</a></h2><!-- post-title -->
                                        <p class="meta-info">18 July 2016</p><!-- meta-info -->
                                    </div><!-- small-post -->
                                </div>
                            </li>
                            <li>
                                <!-- Small Post
                                ============================================= -->
                                <div class="small-post">
                                    <div class="img-wrap"><img src="http://placehold.it/215x151" width="215" height="151" class="img-responsive" alt=""></div><!-- img-wrap -->
                                    <div class="post-info">
                                        <h2 class="post-title"><a href="#">Mauris sagitis ongue ipsum, finibus urna tiunt sagitti</a></h2><!-- post-title -->
                                        <p class="meta-info">18 July 2016</p><!-- meta-info -->
                                    </div><!-- small-post -->
                                </div>
                            </li>
                            <li>
                                <!-- Small Post
                                ============================================= -->
                                <div class="small-post">
                                    <div class="img-wrap"><img src="http://placehold.it/215x151" width="215" height="151" class="img-responsive" alt=""></div><!-- img-wrap -->
                                    <div class="post-info">
                                        <h2 class="post-title"><a href="#">Mauris sagitis ongue ipsum, finibus urna tiunt sagitti</a></h2><!-- post-title -->
                                        <p class="meta-info">18 July 2016</p><!-- meta-info -->
                                    </div><!-- small-post -->
                                </div>
                            </li>
                            <li>
                                <!-- Small Post
                                ============================================= -->
                                <div class="small-post">
                                    <div class="img-wrap"><img src="http://placehold.it/215x151" width="215" height="151" class="img-responsive" alt=""></div><!-- img-wrap -->
                                    <div class="post-info">
                                        <h2 class="post-title"><a href="#">Mauris sagitis ongue ipsum, finibus urna tiunt sagitti</a></h2><!-- post-title -->
                                        <p class="meta-info">18 July 2016</p><!-- meta-info -->
                                    </div><!-- small-post -->
                                </div>
                            </li>
                            <li>
                                <!-- Small Post
                                ============================================= -->
                                <div class="small-post">
                                    <div class="img-wrap"><img src="http://placehold.it/215x151" width="215" height="151" class="img-responsive" alt=""></div><!-- img-wrap -->
                                    <div class="post-info">
                                        <h2 class="post-title"><a href="#">Mauris sagitis ongue ipsum, finibus urna tiunt sagitti</a></h2><!-- post-title -->
                                        <p class="meta-info">18 July 2016</p><!-- meta-info -->
                                    </div><!-- small-post -->
                                </div>
                            </li>
                        </ul>
                    </aside><!-- widget -->
                    
                    <!-- Widget Advertisement
                    ============================================= -->
                    <aside class="widget widget-advert wow jello">
                        <div class="widget-title-wrap">
                            <span class="widget-title">Advertisement</span><!-- widget-title -->
                        </div><!-- widget-title-wrap -->
                        <a href="#"><img width="250" height="250" src="http://placehold.it/250x250/cecece?text=Ad+(250x250)" class="img-responsive" alt=""></a>
                    </aside><!-- widget -->

                    <!-- Widget Random Posts
                    ============================================= -->
                    <aside class="widget widget-popular-posts">
                        <div class="widget-title-wrap">
                            <a href="#" class="pull-right more-link">See More <i class="fa fa-long-arrow-right"></i></a><!-- more-link -->
                            <h6 class="widget-title">Random Post</h6><!-- widget-title -->
                        </div><!-- widget-title-wrap -->
                        <ul class="list-unstyled">
                            <li>
                            
                                <!-- Title Overlay
                                ============================================= -->
                                <div class="title-overlay-small wow flipInX">
                                    <div class="post-thumbnails">
                                        <img src="http://placehold.it/570x321" width="570" height="321" alt="" class="img-responsive"><!-- img-responsive -->
                                        <div class="post-info">
                                            <h2 class="entry-title"><a href="#">Donec eleifend, nunc ac egestas facilisis, nunc ex feugiat odio</a></h2>
                                            <ul class="entry-meta list-inline">
                                                <li>18 July 2016</li>
                                                <li><i class="fa fa-heart-o"></i> 13</li><!-- fa-heart-o -->
                                                <li><i class="fa fa-eye"></i> 1,684</li><!-- fa-eye -->
                                                <li><i class="fa fa-comment"></i> 3</li><!-- fa-comment -->
                                            </ul><!-- entry-meta -->
                                        </div><!-- post-info -->
                                    </div><!-- post-thumbnails -->
                                </div><!-- title-overlay-small -->
                            </li>
                            <li>
                            
                                <!-- Title Overlay
                                ============================================= -->
                                <div class="title-overlay-small wow flipInX">
                                    <div class="post-thumbnails">
                                        <img src="http://placehold.it/570x321" width="570" height="321" alt="" class="img-responsive"><!-- img-responsive -->
                                        <div class="post-info">
                                            <h2 class="entry-title"><a href="#">Donec eleifend, nunc ac egestas facilisis, nunc ex feugiat odio</a></h2>
                                            <ul class="entry-meta list-inline">
                                                <li>18 July 2016</li>
                                                <li><i class="fa fa-heart-o"></i> 13</li><!-- fa-heart-o -->
                                                <li><i class="fa fa-eye"></i> 1,684</li><!-- fa-eye -->
                                                <li><i class="fa fa-comment"></i> 3</li><!-- fa-comment -->
                                            </ul><!-- entry-meta -->
                                        </div><!-- post-info -->
                                    </div><!-- post-thumbnails -->
                                </div><!-- title-overlay-small -->
                            </li>
                            <li>
                            
                                <!-- Title Overlay
                                ============================================= -->
                                <div class="title-overlay-small wow flipInX">
                                    <div class="post-thumbnails">
                                        <img src="http://placehold.it/570x321" width="570" height="321" alt="" class="img-responsive"><!-- img-responsive -->
                                        <div class="post-info">
                                            <h2 class="entry-title"><a href="#">Donec eleifend, nunc ac egestas facilisis, nunc ex feugiat odio</a></h2>
                                            <ul class="entry-meta list-inline">
                                                <li>18 July 2016</li>
                                                <li><i class="fa fa-heart-o"></i> 13</li><!-- fa-heart-o -->
                                                <li><i class="fa fa-eye"></i> 1,684</li><!-- fa-eye -->
                                                <li><i class="fa fa-comment"></i> 3</li><!-- fa-comment -->
                                            </ul><!-- entry-meta -->
                                        </div><!-- post-info -->
                                    </div><!-- post-thumbnails -->
                                </div><!-- title-overlay-small -->
                            </li>
                            <li>
                            
                                <!-- Title Overlay
                                ============================================= -->
                                <div class="title-overlay-small wow flipInX">
                                    <div class="post-thumbnails">
                                        <img src="http://placehold.it/570x321" width="570" height="321" alt="" class="img-responsive"><!-- img-responsive -->
                                        <div class="post-info">
                                            <h2 class="entry-title"><a href="#">Donec eleifend, nunc ac egestas facilisis, nunc ex feugiat odio</a></h2>
                                            <ul class="entry-meta list-inline">
                                                <li>18 July 2016</li>
                                                <li><i class="fa fa-heart-o"></i> 13</li><!-- fa-heart-o -->
                                                <li><i class="fa fa-eye"></i> 1,684</li><!-- fa-eye -->
                                                <li><i class="fa fa-comment"></i> 3</li><!-- fa-comment -->
                                            </ul><!-- entry-meta -->
                                        </div><!-- post-info -->
                                    </div><!-- post-thumbnails -->
                                </div><!-- title-overlay-small -->
                            </li>
                            <li>

                                <!-- Title Overlay
                                ============================================= -->
                                <div class="title-overlay-small wow flipInX">
                                    <div class="post-thumbnails">
                                        <img src="http://placehold.it/570x321" width="570" height="321" alt="" class="img-responsive"><!-- img-responsive -->
                                        <div class="post-info">
                                            <h2 class="entry-title"><a href="#">Donec eleifend, nunc ac egestas facilisis, nunc ex feugiat odio</a></h2>
                                            <ul class="entry-meta list-inline">
                                                <li>18 July 2016</li>
                                                <li><i class="fa fa-heart-o"></i> 13</li><!-- fa-heart-o -->
                                                <li><i class="fa fa-eye"></i> 1,684</li><!-- fa-eye -->
                                                <li><i class="fa fa-comment"></i> 3</li><!-- fa-comment -->
                                            </ul><!-- entry-meta -->
                                        </div><!-- post-info -->
                                    </div><!-- post-thumbnails -->
                                </div><!-- title-overlay-small -->
                            </li>
                        </ul>
                    </aside><!-- widget -->
                </div>
            </div>
            <div class="row">
                    
                <!-- 970x90 Advertisement
                ============================================= -->
                <div class="col-md-12 footer-advert"><a href="#"><img src="http://placehold.it/970x90/cecece?text=Advertisement+(970x90)" width="970" height="90" class="img-responsive img-inline" alt=""></a></div>
            </div>
        </div>
    </div>