    <footer id="site-footer" class="" ng-controller="FooterController as footCtrl">
        <div class="footer-content">
            <div class="widgetize-area container">
                <div class="row">
                    <div class="col-sm-12 wow fadeIn">
                        <!-- Footer About Block
                        ============================================= -->
                        <div class="footer-about">
                            <div class="about-text">
                                <!-- SVG Logo
                                ============================================= -->
                                <!-- <svg preserveAspectRatio="xMinYMin meet" viewBox="0 0 1000 102" class="iLogoFooter logo-image">
                                    <use xlink:href="assets/svg/thslogo.svg#logoMagazine"></use>
                                </svg> -->
                                
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras euismod egestas arcu, eget porta magna sollicitudin non. Integer vel sem congue, venenatis urna non, interdum sapien. Phasellus id mauris neque. Pellentesque sapien libero, interdum quis imperdiet ac, efficitur sit amet nibh. Nulla vel luctus sapien, quis dapibus arcu. In eu dui facilisis, eleifend quam a, pellentesque nisl.</p>

                                <!-- Social Links
                                ============================================= -->
                                <div class="social-nav">
                                  <div ng-include="'/assets/templates/common/social_links.html'"></div>
                                  
                                    <!-- <a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a><a href="#"><i class="fa fa-google-plus"></i></a><a href="#"><i class="fa fa-linkedin"></i></a> -->
                                </div><!-- social-nav -->
                            </div><!-- about-text -->
                        </div><!-- footer-about -->
                    </div>

                    <!-- Footer Widgets Column 1
                    ============================================= -->
                    <div class="col-sm-4 fix-top-mobile hidden-xs wow slideInUp">
                      <aside class="widget widget-popular-posts widget-footer">
                        <div class="widget-title-wrap">
                          <a href="#" class="pull-right more-link">See More <i class="fa fa-long-arrow-right"></i></a><!-- more-link -->
                          <h6 class="widget-title">THS Member Projects on Hackaday</h6><!-- widget-title -->
                        </div><!-- widget-title-wrap -->
                        <ul class="list-unstyled">
                          <li>
                            <div class="small-post">
                              <div class="img-wrap"><img src="http://placehold.it/215x151" width="215" height="151" class="img-responsive" alt=""></div><!-- img-wrap -->
                              <div class="post-info">
                                <h2 class="post-title"><a href="#">Mauris sagitis ongue ipsum, finibus urna tiunt sagitti</a></h2><!-- post-title -->
                                <p class="meta-info">18 July 2016</p><!-- meta-info -->
                              </div><!-- small-post -->
                            </div>
                          </li>
                        </ul>
                      </aside> 
                    </div>

                    <!-- Footer Widgets Column 2
                    ============================================= -->
                    <div class="col-sm-4 wow slideInUp fix-top-mobile">
                        <aside class="widget widget-instagram widget-footer">
                            <div class="widget-title-wrap">
                                <a href="#" class="pull-right more-link">@tokyohackerspace</a>
                                <h6 class="widget-title">Tokyo Hackerspace on Instagram</h6>
                            </div>
                            <div class="row row-5">
                                <div class="col-xs-6 col">
                                    <div class="row-5">
                                        <div class="col-xs-12 col">
                                            <div class="gallery-item"><a href="#"><img src="http://placehold.it/180x180" class="img-responsive" width="180" height="180" alt=""></a></div><!-- gallery-item -->
                                        </div>
                                        <div class="col-xs-6 col">
                                            <div class="gallery-item"><a href="#"><img src="http://placehold.it/180x180" class="img-responsive" width="180" height="180" alt=""></a></div><!-- gallery-item -->
                                        </div>
                                        <div class="col-xs-6 col">
                                            <div class="gallery-item"><a href="#"><img src="http://placehold.it/180x180" class="img-responsive" width="180" height="180" alt=""></a></div><!-- gallery-item -->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6 col">
                                    <div class="row-5">
                                        <div class="col-xs-6 col">
                                            <div class="gallery-item"><a href="#"><img src="http://placehold.it/180x180" class="img-responsive" width="180" height="180" alt=""></a></div><!-- gallery-item -->
                                        </div>
                                        <div class="col-xs-6 col">
                                            <div class="gallery-item"><a href="#"><img src="http://placehold.it/180x180" class="img-responsive" width="180" height="180" alt=""></a></div><!-- gallery-item -->
                                        </div>
                                        <div class="col-xs-12 col">
                                            <div class="gallery-item"><a href="#"><img src="http://placehold.it/180x180" class="img-responsive" width="180" height="180" alt=""></a></div><!-- gallery-item -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </aside><!-- widget-instagram -->
                    </div>

                    <!-- Footer Widgets Column 3
                    ============================================= -->
                    <div class="col-sm-4 wow slideInUp fix-top-mobile hidden-xs">
                      <aside class="widget widget-categories widget-footer">
                        <div class="widget-title-wrap">
                          <h6 class="widget-title">Friends of Tokyo Hackerspace</h6>
                        </div>
                        <ul class="list-unstyled">
                          <li><a href="http://blog.safecast.org/" target="_blank">Safecast</a></li>
                          <li><a href="http://www.hackerfarm.jp/" target="_blank">Hacker Farm</a></li>
                          <li><a href="http://dangerousprototypes.com/blog/" target="_blank">Dangerous Prototypes</a></li>
                        </ul>
                        <!-- &nbsp;<br>&nbsp;
                        <div class="widget-title-wrap">
                          <h6 class="widget-title">Friends of Tokyo Hackerspace</h6>
                        </div>
                        <ul class="list-unstyled">
                          <li><a href="http://blog.safecast.org/" target="_blank">Safecast</a></li>
                          <li><a href="http://www.hackerfarm.jp/" target="_blank">Hacker Farm</a></li>
                          <li><a href="http://dangerousprototypes.com/blog/" target="_blank">Dangerous Prototypes</a></li>
                        </ul> -->
                      </aside><!-- widget-categories -->
                    </div>
                </div>
            </div>
            <!-- Copyright Block
            ============================================= -->
            <div id="copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9">
                            <!-- Copyright Text and Footer links
                            ============================================= -->
                            &copy; Copyright 2017 Tokyo Hackerspace. All Rights Reserved. 
                            <ul class="list-inline footer-navigation">
                                <!-- <li><a href="#">Terms &amp; Conditions</a></li>
                                <li><a href="#">Privacy Policy</a></li> -->
                            </ul><!-- footer-navigation -->
                        </div>
                        <div class="col-md-3 go-to-top"><a href="#">Go to Top <i class="fa fa-angle-up"></i></a></div><!-- go-to-top -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
