   
   
   
   
   
   
   
   
    <div class="regular-blog-wrap featured-posts-thumbnails">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-12">
                            <!-- Regular Post
                            ============================================= -->
                            <div class="regular-post">
                                <div class="post-thumbnails large-regular-post wow flipInY">
                                    <div class="ribbon">Upcoming Events</div><!-- ribbon -->
                                    <div class="post-icon-type"><i class="fa fa-video-camera"></i></div><!-- post-icon-type -->
                                    <a href="#"><img src="/events/images/event_image.jpg" width="570" height="373" alt="" class="img-responsive"></a><!-- img-responsive -->
                                    <div class="post-info">
                                        <h2 class="entry-title"><a href="#">Donec eleifend, nunc ac egestas facilisis, nunc ex feugiat odio</a></h2><!-- entry-content -->
                                        <ul class="entry-meta list-inline">
                                            <li>18 July 2016</li>
                                            <li><i class="fa fa-heart-o"></i> 13</li><!-- fa-heart-o -->
                                            <li><i class="fa fa-eye"></i> 1,684</li><!-- fa-eye -->
                                            <li><i class="fa fa-comment"></i> 3</li><!-- fa-comment -->
                                        </ul><!-- entry-meta -->
                                    </div><!-- post-info -->
                                </div><!-- post-thumbnails -->
                            </div><!-- regular-post -->
                        </div>

                        <div class="col-sm-6">
                            <!-- Regular Post
                            ============================================= -->
                            <div class="regular-post small-regular-post wow flipInX">
                                <div class="post-thumbnails">
                                    <div class="post-icon-type"><i class="fa fa-picture-o"></i></div><!-- post-icon-type -->
                                    <a href="#"><img src="/events/images/event_image.jpg" width="570" height="370" alt="" class="img-responsive"></a><!-- img-responsive -->
                                    <div class="post-info">
                                        <h2 class="entry-title"><a href="#">Donec eleifend, nunc ac egestas facilisis, nunc ex feugiat odio</a></h2><!-- entry-content -->
                                        <ul class="entry-meta list-inline">
                                            <li>18 July 2016</li>
                                            <li><i class="fa fa-heart-o"></i> 13</li><!-- fa-heart-o -->
                                            <li><i class="fa fa-eye"></i> 1,684</li><!-- fa-eye -->
                                            <li><i class="fa fa-comment"></i> 3</li><!-- fa-comment -->
                                        </ul><!-- entry-meta -->
                                    </div><!-- post-info -->
                                </div><!-- post-thumbnails -->
                            </div><!-- regular-post -->
                        </div>
                        <div class="col-sm-6">
                            <!-- Regular Post
                            ============================================= -->
                            <div class="regular-post small-regular-post wow flipInX">
                                <div class="post-thumbnails">
                                    <div class="post-icon-type"><i class="fa fa-commenting"></i></div><!-- post-icon-type -->
                                    <a href="#"><img src="/events/images/event_image.jpg" width="570" height="370" alt="" class="img-responsive"></a><!-- img-responsive -->
                                    <div class="post-info">
                                        <h2 class="entry-title"><a href="#">Donec eleifend, nunc ac egestas facilisis, nunc ex feugiat odio</a></h2><!-- entry-content -->
                                        <ul class="entry-meta list-inline">
                                            <li>18 July 2016</li>
                                            <li><i class="fa fa-heart-o"></i> 13</li><!-- fa-heart-o -->
                                            <li><i class="fa fa-eye"></i> 1,684</li><!-- fa-eye -->
                                            <li><i class="fa fa-comment"></i> 3</li><!-- fa-comment -->
                                        </ul><!-- entry-meta -->
                                    </div><!-- post-info -->
                                </div><!-- post-thumbnails -->
                            </div><!-- regular-post -->
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-6">
                            <!-- Regular Post
                            ============================================= -->
                            <div class="regular-post small-regular-post wow flipInX">
                                <div class="post-thumbnails">
                                    <div class="post-icon-type"><i class="fa fa-object-group"></i></div><!-- post-icon-type -->
                                    <a href="#"><img src="/events/images/event_image.jpg" width="570" height="370" alt="" class="img-responsive"></a><!-- img-responsive -->
                                    <div class="post-info">
                                        <h2 class="entry-title"><a href="#">Donec eleifend, nunc ac egestas facilisis, nunc ex feugiat odio</a></h2><!-- entry-content -->
                                        <ul class="entry-meta list-inline">
                                            <li>18 July 2016</li>
                                            <li><i class="fa fa-heart-o"></i> 13</li><!-- fa-heart-o -->
                                            <li><i class="fa fa-eye"></i> 1,684</li><!-- fa-eye -->
                                            <li><i class="fa fa-comment"></i> 3</li><!-- fa-comment -->
                                        </ul><!-- entry-meta -->
                                    </div><!-- post-info -->
                                </div><!-- post-thumbnails -->
                            </div><!-- regular-post -->
                        </div>
                        <div class="col-sm-6">
                            <!-- Regular Post
                            ============================================= -->
                            <div class="regular-post small-regular-post wow flipInX">
                                <div class="post-thumbnails">
                                    <div class="post-icon-type"><i class="fa fa-quote-left"></i></div><!-- post-icon-type -->
                                    <a href="#"><img src="/events/images/event_image.jpg" width="570" height="370" alt="" class="img-responsive"></a><!-- img-responsive -->
                                    <div class="post-info">
                                        <h2 class="entry-title"><a href="#">Donec eleifend, nunc ac egestas facilisis, nunc ex feugiat odio</a></h2><!-- entry-content -->
                                        <ul class="entry-meta list-inline">
                                            <li>18 July 2016</li>
                                            <li><i class="fa fa-heart-o"></i> 13</li><!-- fa-heart-o -->
                                            <li><i class="fa fa-eye"></i> 1,684</li><!-- fa-eye -->
                                            <li><i class="fa fa-comment"></i> 3</li><!-- fa-comment -->
                                        </ul><!-- entry-meta -->
                                    </div><!-- post-info -->
                                </div><!-- post-thumbnails -->
                            </div><!-- regular-post -->
                        </div>
                        <div class="col-sm-6">
                            <!-- Regular Post
                            ============================================= -->
                            <div class="regular-post small-regular-post wow flipInX">
                                <div class="post-thumbnails">
                                    <div class="post-icon-type"><i class="fa fa-certificate"></i></div><!-- post-icon-type -->
                                    <a href="#"><img src="/events/images/event_image.jpg" width="570" height="370" alt="" class="img-responsive"></a><!-- img-responsive -->
                                    <div class="post-info">
                                        <h2 class="entry-title"><a href="#">Donec eleifend, nunc ac egestas facilisis, nunc ex feugiat odio</a></h2><!-- entry-content -->
                                        <ul class="entry-meta list-inline">
                                            <li>18 July 2016</li>
                                            <li><i class="fa fa-heart-o"></i> 13</li><!-- fa-heart-o -->
                                            <li><i class="fa fa-eye"></i> 1,684</li><!-- fa-eye -->
                                            <li><i class="fa fa-comment"></i> 3</li><!-- fa-comment -->
                                        </ul><!-- entry-meta -->
                                    </div><!-- post-info -->
                                </div><!-- post-thumbnails -->
                            </div><!-- regular-post -->
                        </div>
                        <div class="col-sm-6">
                            <!-- Regular Post
                            ============================================= -->
                            <div class="regular-post small-regular-post wow flipInX">
                                <div class="post-thumbnails">
                                    <div class="post-icon-type"><i class="fa fa-picture-o"></i></div><!-- post-icon-type -->
                                    <a href="#"><img src="/events/images/event_image.jpg" width="570" height="370" alt="" class="img-responsive"></a><!-- img-responsive -->
                                    <div class="post-info">
                                        <h2 class="entry-title"><a href="#">Donec eleifend, nunc ac egestas facilisis, nunc ex feugiat odio</a></h2><!-- entry-content -->
                                        <ul class="entry-meta list-inline">
                                            <li>18 July 2016</li>
                                            <li><i class="fa fa-heart-o"></i> 13</li><!-- fa-heart-o -->
                                            <li><i class="fa fa-eye"></i> 1,684</li><!-- fa-eye -->
                                            <li><i class="fa fa-comment"></i> 3</li><!-- fa-comment -->
                                        </ul><!-- entry-meta -->
                                    </div><!-- post-info -->
                                </div><!-- post-thumbnails -->
                            </div><!-- regular-post -->
                        </div>
                        <div class="col-sm-6">
                            <!-- Regular Post
                            ============================================= -->
                            <div class="regular-post small-regular-post wow flipInX">
                                <div class="post-thumbnails">
                                    <div class="post-icon-type"><i class="fa fa-picture-o"></i></div><!-- post-icon-type -->
                                    <a href="#"><img src="/events/images/event_image.jpg" width="570" height="370" alt="" class="img-responsive"></a><!-- img-responsive -->
                                    <div class="post-info">
                                        <h2 class="entry-title"><a href="#">Donec eleifend, nunc ac egestas facilisis, nunc ex feugiat odio</a></h2><!-- entry-content -->
                                        <ul class="entry-meta list-inline">
                                            <li>18 July 2016</li>
                                            <li><i class="fa fa-heart-o"></i> 13</li><!-- fa-heart-o -->
                                            <li><i class="fa fa-eye"></i> 1,684</li><!-- fa-eye -->
                                            <li><i class="fa fa-comment"></i> 3</li><!-- fa-comment -->
                                        </ul><!-- entry-meta -->
                                    </div><!-- post-info -->
                                </div><!-- post-thumbnails -->
                            </div><!-- regular-post -->
                        </div>
                        <div class="col-sm-6">
                            <!-- Regular Post
                            ============================================= -->
                            <div class="regular-post small-regular-post wow flipInXn">
                                <div class="post-thumbnails">
                                    <div class="post-icon-type"><i class="fa fa-object-group"></i></div><!-- post-icon-type -->
                                    <a href="#"><img src="/events/images/event_image.jpg" width="570" height="370" alt="" class="img-responsive"></a><!-- img-responsive -->
                                    <div class="post-info">
                                        <h2 class="entry-title"><a href="#">Donec eleifend, nunc ac egestas facilisis, nunc ex feugiat odio</a></h2><!-- entry-content -->
                                        <ul class="entry-meta list-inline">
                                            <li>18 July 2016</li>
                                            <li><i class="fa fa-heart-o"></i> 13</li><!-- fa-heart-o -->
                                            <li><i class="fa fa-eye"></i> 1,684</li><!-- fa-eye -->
                                            <li><i class="fa fa-comment"></i> 3</li><!-- fa-comment -->
                                        </ul><!-- entry-meta -->
                                    </div><!-- post-info -->
                                </div><!-- post-thumbnails -->
                            </div><!-- regular-post -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
