                  <h1>&nbsp;</h1>
                  <aside class="widget widget-popular-posts">
                        <div class="widget-title-wrap">
                            <!-- a href="#" class="pull-right more-link">See More <i class="fa fa-long-arrow-right"></i></a --><!-- more-link -->
                            <h6 class="widget-title">Upcoming Events</h6><!-- widget-title -->
                        </div><!-- widget-title-wrap -->
                        <ul class="list-unstyled">
                            <li>
                                <!-- Small Post
                                ============================================= -->
                                <div class="small-post">
                                    <div class="img-wrap"><img src="http://placehold.it/215x151" width="215" height="151" class="img-responsive" alt=""></div><!-- img-wrap -->
                                    <div class="post-info">
                                        <h2 class="post-title"><a href="#">Mauris sagitis ongue ipsum, finibus urna tiunt sagitti</a></h2><!-- post-title -->
                                        <p class="meta-info">18 July 2016</p><!-- meta-info -->
                                    </div><!-- small-post -->
                                </div>
                            </li>
                            <li>
                                <!-- Small Post
                                ============================================= -->
                                <div class="small-post">
                                    <div class="img-wrap"><img src="http://placehold.it/215x151" width="215" height="151" class="img-responsive" alt=""></div><!-- img-wrap -->
                                    <div class="post-info">
                                        <h2 class="post-title"><a href="#">Mauris sagitis ongue ipsum, finibus urna tiunt sagitti</a></h2><!-- post-title -->
                                        <p class="meta-info">18 July 2016</p><!-- meta-info -->
                                    </div><!-- small-post -->
                                </div>
                            </li>
                            <li>
                                <!-- Small Post
                                ============================================= -->
                                <div class="small-post">
                                    <div class="img-wrap"><img src="http://placehold.it/215x151" width="215" height="151" class="img-responsive" alt=""></div><!-- img-wrap -->
                                    <div class="post-info">
                                        <h2 class="post-title"><a href="#">Mauris sagitis ongue ipsum, finibus urna tiunt sagitti</a></h2><!-- post-title -->
                                        <p class="meta-info">18 July 2016</p><!-- meta-info -->
                                    </div><!-- small-post -->
                                </div>
                            </li>
                            <li>
                                <!-- Small Post
                                ============================================= -->
                                <div class="small-post">
                                    <div class="img-wrap"><img src="http://placehold.it/215x151" width="215" height="151" class="img-responsive" alt=""></div><!-- img-wrap -->
                                    <div class="post-info">
                                        <h2 class="post-title"><a href="#">Mauris sagitis ongue ipsum, finibus urna tiunt sagitti</a></h2><!-- post-title -->
                                        <p class="meta-info">18 July 2016</p><!-- meta-info -->
                                    </div><!-- small-post -->
                                </div>
                            </li>
                            <li>
                                <!-- Small Post
                                ============================================= -->
                                <div class="small-post">
                                    <div class="img-wrap"><img src="http://placehold.it/215x151" width="215" height="151" class="img-responsive" alt=""></div><!-- img-wrap -->
                                    <div class="post-info">
                                        <h2 class="post-title"><a href="#">Mauris sagitis ongue ipsum, finibus urna tiunt sagitti</a></h2><!-- post-title -->
                                        <p class="meta-info">18 July 2016</p><!-- meta-info -->
                                    </div><!-- small-post -->
                                </div>
                            </li>
                        </ul>
                    </aside><!-- widget -->
                    