                        <ul class="nav navbar-nav">
                            <li class="menu-item menu-item-1">
                                <a href="/#/en">Home</a>
                            </li>
                            <li class="menu-item menu-item-22">
                                <a href="about.html">About</a>
                            </li>
                            <li class="menu-item menu-item-2">
                                <a href="category.html">Category</a>
                            </li>
                            <li class="menu-item menu-item-3">
                                <a href="single.html">Pages</a>
                                <div class="sub-menu-wrap is-sub-menu">
                            </li>
                            <li class="menu-item menu-item-4"><a href="404.html">404 Page</a></li>
                            <li class="menu-item menu-item-4">
                                <a href="contact.html">Contact Us</a>
                            </li>
                        </ul>
